body {
    background: #1c1c1c
}


.card {
    border-radius: 1rem;
    padding: 1%;
    margin:5%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.1);
}


.hoverable {
    transition: transform 0.3s ease, box-shadow 0.2s ease;
}

@media (hover: hover) {
    :is(button,img,text,svg,button,input,h1,p,pre) {
        opacity:0.3;
        transition: opacity 0.3s ease;
    }
    .hoverable:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 1rem 3rem 0px;
    }
    .rise:hover {
        transform: translateY(-1vh);
    }
    .card:hover {
        :is(button,img,svg,button,input,h1,p,pre) {
            opacity:1;
        }
        background-color: rgba(0, 0, 0, 0.15);
    }
    body {
        background: linear-gradient(45deg, #00000b, #020000)
    }

  }

.shadow {
    box-shadow: rgba(73, 73, 77, 0.2) 0px 0.5rem 1.5rem 0px;
}

.text {  
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(255, 255, 255);
}

.bigText {
    font-size: 3rem;
}

.mediumText {
    font-size: 2rem;
}

.smallText {
    font-size: 1.5rem;
}

.description {
    font-size: 1.5rem;
}

.wrapper-main {
    display: flexbox;
    align-items: center;
    text-align: center;
}

img {
    max-width: 50rem;
    border-radius: 0.5rem;
}


input {
    border-style: none;
    text-align: center;
    font-size: 1rem;
    width: 60%;
    height: 4rem;
    border-radius: 1rem;
}

button {
    border-style: none;
    border-radius: 1rem;
    box-sizing: content-box;
    width: 60%;
    height: 8rem;
    font-size: 1rem;
}

#contactPicture {
    mix-blend-mode: overlay; 
    width: 10rem;
    filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(113deg) brightness(105%) contrast(101%);
}

.commentElement {
    margin: 0.2rem;
    background-color: rgba(0, 0, 0, 0.1);
}


#contactText {
    white-space: pre-line;
}

@media only screen and (max-width: 580px) {

    .bigText {
        font-size: 1.5rem;
    }
    .description {
        font-size: 0.75rem;
    }

    button {
        border-radius: 0.25rem;
        height: 2rem;
        font-size: 2rem;
    }
    input {
        border-radius: 0.25rem;
        height: 1rem;
        font-size: 4rem;
    }
  }
@media only screen and (max-width: 800px) {
    .bigText {
        font-size: 2rem;
    }
    .description {
        font-size: 1rem;
    }
    button {
        border-radius: 0.5rem;
        height: 4rem;
        font-size: 2rem
    }
    input {
        border-radius: 0.5rem;
        height: 2rem;
        font-size: 2rem;
    }
  }

@media only screen and (max-width: 1000px) {
    #devicePicture {
        width: 80%;
        height:80%;
    }

    #profilePicture {
        width: 80%;
        height:80%;
    }
    button {
        font-size: 1.5rem;
    }
    input {
        font-size: 1.5rem;
    }
  }

